[tool.poetry]
name = "{{ packagename }}"
version = "0.1.0"
description = "{{ description }}"
authors = ["{{ accountname }} <{{ email }}>"]

[tool.poetry.dependencies]
python = "^3.12"

[tool.poetry.group.test.dependencies]
pytest = "^7.4"
pytest-asyncio = "^0.23"

[tool.pytest.ini_options]
asyncio_mode = "auto"

# See: https://python-poetry.org/docs/pyproject/#poetry-and-pep-517
[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
